/* AUTO CREATE POST FORM */
body{
    overflow: hidden;
}

#overlay{
    width: 100vw;height:100vh;background-color:black;overflow:none;z-index: 100;position:absolute;opacity: .8;background-image: url('/assets/img/loader-small.svg');background-repeat: no-repeat;display: flex;justify-content: center;align-items: center;background-position: center;
}

#auto-create{
    background:  #1c1c1c !important;
}

#create-blog{
    width: 2rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: white;
}

#automate-blog-creation{
    background-color: #0a4eca;
    width: 6rem;
    height: 2rem;
    font-size: .8rem;
    border: 1px solid #0a4eca;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: 5px;
    cursor: pointer;
}

#autobot{
    width: 1.3rem;
}

#auto-form-create{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.3rem;
    width: 27rem;
    height: fit-content;
    padding: 1rem;
    margin: 0 auto;
    background-color: #1c1c1c;
    border-radius: 10px;
}

#auto-form-create-title{
    margin: 0 auto;
    font-size: 1.4rem;
    color: white;
}

#keywords-container, #scheduled-at-container, #scheduled-on-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#scheduled-at-container label, 
#keywords-container label, 
#scheduled-on-container label{
    color: white;
    font-size: .9rem;
}

#blog-relevant-keywords{
    background: transparent;
    color: white;
    border-radius: 10px;
    border: 3px solid #414141;
    padding: .5rem;
    font-size: .8rem;
    outline: none;
}

#scheduled-at, #scheduled-on{
    height: 2rem;
    text-align: center;
    color: white;
    color: white;
    background: transparent;
    color: white;
    border-radius: 10px;
    border: 3px solid #414141;
    outline: none;
}


.schedule-ops{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

#schedule, #reset{
    width: 6rem;
    padding: .4rem;
    margin: 0 auto;
    margin: 0;
    color: #000;
    border-radius: 10rem;
    font-size: .9rem;
    font-weight: bold;
}

#schedule{
    background-color: #25d865;
    border: 1px solid #25d865;
}

#reset{
    background-color: white;
    border: 1px solid white;
}

/* error-text */
#errormessage{
    color: crimson;
    text-align: center;
    margin: 0;
    height: .8rem;
    font-size: .9rem;
}

/* popup */
.eventspopup{
    background-color: #1c1c1c;color:white;padding:1rem;border-radius: 7px;display: flex;flex-direction: column;gap:2rem;width: 27rem;position:absolute;z-index:101;display:none;top:6rem;left:calc(100vw - calc(50vw + 13.5rem));height:fit-content;
}

.eventmessage{
    font-size: .7rem;
}

#events{
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0;
    padding-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.listitem{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    /* background-color: red;
    border: 1px solid black; */
}

.event-message{
    margin: 0;
}

.eventspopuptitle{
    margin:0; font-size: 1.2rem;text-align:center;color:#808080;
}

.eventspopupcontent{
    display: flex;flex-direction: column;justify-content: center;gap:1.5rem;height:fit-content;
}

.eventspopupactions{
    display: flex;justify-content: center;gap: 1rem;margin-top: 1rem;
}

#canceleventpopup{
    padding:.5rem;
    border:1px solid #000;
    border-radius: 10rem;
    width: 4rem;
    font-weight: bold;
    font-size: .7rem;
    display:block;
    color: white;
    cursor: auto;
}

.disablebtn{
    color: white;
    background-color: #000;
    cursor:auto;
}

.enablebtn{
    background-color: #25d865;
    color:#000;
    cursor: pointer;
}

.auto-form-wrapper{
    display: flex;justify-content: flex-start;
}

.confirmpopupoverlay{
    width: 100vw;
    height:100vh;
    overflow:none;
    position:absolute;
    display: none;
    opacity: .8;z-index:100;
    background-color: black;
}

.confirmpopupcontainer{
    background-color: #414141;color:white;padding:0rem;border-radius: 7px;display: flex;flex-direction: column;gap:2rem;width: 30vw;position:absolute;z-index:101;display:none;top:40vh;left:calc(100vw - (50vw + 15vw));
}

.confirmpopupheader{
    display: flex;justify-content: space-between;align-items: center;background-color: #2d2d2d;padding: .5rem;border-radius: 7px 7px 0 0;
}

.confirmpopupheadertext{
    margin: 0;cursor:default;font-size: .9rem;
}

.confirmpopupicon{
    margin: 0;cursor:pointer;font-weight: bold;
}

.confirmpopupcontent{
    display: flex;flex-direction: column;justify-content: center;gap:2rem;padding:1rem;height:8rem;
}

.confirmpopuptext{
    text-align: center;margin: 0;font-size: .8rem;line-height:1.2rem;
}

.confirmpopupactions{
    display: flex;justify-content: center;gap: 1rem;
}

#confirmok{
    background-color: #25d865;color:#000;padding:.5rem;border:1px solid #25d865;border-radius: 10rem;cursor: pointer;width: 5rem;font-weight: bold;font-size: .8rem;
}

#confirmcancel{
    background-color: #fff;color:#000;padding:.5rem;border:1px solid #fff;border-radius: 10rem;cursor: pointer;width: 5rem;font-weight: bold;font-size: .8rem;
}

.confirmcancel{
    margin:0;
    cursor: pointer;
}

.example{
    font-size: .75rem;
    color: gray;
    margin: 0;
}