<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/auto_create_blog.css">

<body>
    <!-- generic error modal -->
    <%- include('../components/generic_error_popup.ejs') %>

    <!-- confirmation modal -->
    <div class="confirmpopupoverlay"></div>
    <div class="confirmpopupcontainer">
        <div class="confirmpopupheader">
            <p class="confirmpopupheadertext">Auto Post Confirmation</p>
            <p class="confirmcancel">&times;</p>
        </div>
        <div class="confirmpopupcontent">
            <p class="confirmpopuptext"></p>
            <div class="confirmpopupactions">
                <button class="confirmcancel" id="confirmcancel">Cancel</button>
                <button class="confirmok" id="confirmok">Confirm</button>
            </div>
        </div>
    </div>

    <div id="overlay"></div>
    <%- include('../components/navbar.ejs') %>
    <div class="auto-form-wrapper">
        <form id="auto-form-create">
            <!-- Heading and Keywords -->
            <p id="auto-form-create-title">Auto Create Post Form</p>
            <div id="keywords-container">
                <label for="blog-relevant-keywords">Mention the topic for the blog. Be sure to be specific and describe relevant details to produce more accurate content</label>
                <p class="example">Examples:</p>
                <p class="example">"The Power of Deep Work: How to Focus in a Distracted World"</p>
                <p class="example">"The Future of Web Development: Trends to Watch in 2025"</p>
                <textarea name="keywords" id="blog-relevant-keywords" rows="5" placeholder="Enter some blog relevant keywords and let our AI do the magic!" required></textarea>
            </div>

            <!-- Time Select -->
            <div id="scheduled-at-container">
                <label for="schedule-at">Upload Time</label>
                <input type="time" name="scheduledAt" id="scheduled-at" value="00:00" required>
            </div>

            <!-- Date Select -->
            <div id="scheduled-on-container">
                <label for="schedule-on">Upload Date</label>
                <input type="date" name="scheduledOn" id="scheduled-on" required>
            </div>

            <!-- form actions -->
            <div class="schedule-ops">
                <button type="reset" id="reset">Reset</button>
                <button type="button" id="schedule">Schedule</button>
            </div>

            <!-- error -->
            <p id="errormessage"></p>
        </form>
    </div>

    
    <div class="eventspopup">
        <p class="eventspopuptitle">Blog Creation In Progress</p>
        <div class="eventspopupcontent">
            <ul id="events">
                <li class="listitem">
                    <img src="/img/loader-xs.svg" alt="" class="event-progress">
                    <p class="event-message">Setting up Ai configuration</p>
                </li>
                <li class="listitem">
                    <img src="/img/loader-xs.svg" alt="" class="event-progress">
                    <p class="event-message">Generating Blog title</p>
                </li>
                <li class="listitem">
                    <img src="/img/loader-xs.svg" alt="" class="event-progress">
                    <p class="event-message">Generating Blog Excerpt</p>
                </li>
                <li class="listitem">
                    <img src="/img/loader-xs.svg" alt="" class="event-progress">
                    <p class="event-message">Generating Blog Description</p>
                </li>
                <li class="listitem">
                    <img src="/img/loader-xs.svg" alt="" class="event-progress">
                    <p class="event-message">Generating a blog thumbnail/graphic</p>
                </li>
                <li class="listitem">
                    <img src="/img/loader-xs.svg" alt="" class="event-progress">
                    <p class="event-message">Uploading graphic asset on cloudinary</p>
                </li>
                <li class="listitem">
                    <img src="/img/loader-xs.svg" alt="" class="event-progress">
                    <p class="event-message">Updating the database</p>
                </li>
                <li class="listitem">
                    <img src="/img/loader-xs.svg" alt="" class="event-progress">
                    <p class="event-message">Finished! Your blog has been created successfully</p>
                </li>
                
            </ul>
            <div class="eventspopupactions">
                <button id="canceleventpopup" disabled>Done</button>
            </div>
        </div>
    </div>
</body>


<script src="/js/axios.min.js"></script>
<script src="/js/auto_create_blog.js" type="text/javascript"></script>

