<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-Dekho</title>
</head>
<link rel="stylesheet" href="/css/user_subscribed_channels.css">
<link rel="stylesheet" href="/css/global.css">



<body>
    <div id="overlay"></div>
    <%- include('../components/navbar.ejs') %>
    <div class="subscriptions-wrapper">
        <div class="sub-wrapper">
            <h1 class="title"><i>All Subscriptions</i></h1>
            <div class="subscriptions">
            <% responseJson.data.forEach(channel => { %>
                    <div class="subscription-details">
                        <div class="inner-icon">
                            <img src=<%= channel.profilepic %> alt="" class="preview">
                        </div>
                        <div class="channel-detail">
                            <p class="channel-name"><%= channel.username %></p>
                            <p class="subscriber-count"><%= channel.subscribers %> Subscribers</p>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</body>
</html>

<script src="/js/axios.min.js"></script>