<link rel="stylesheet" href="/css/user_login_form.css">
<link rel="stylesheet" href="/css/global.css">

<div id="overlay"></div>
<div class="user-login-form-container">
    <img id="blogdekho" src="/img/blogdekho.png" alt="">
    <form id="user-login-form">
        <h1 class="user-login-form-heading">User Login</h1>
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="text" name="password" id="password" placeholder="Password">
        <div class="actions">
            <button type="reset" id="reset-button">Reset</button>
            <button type="submit" id="submit-button">Login</button>
        </div>
        <p class="error-msg"></p>
        <div class="text-to-register">
            <p class="new-user">New User?</p>
            <a href="/register" class="register-here">Register Here</a>
        </div>
    </form>
</div>

<script src="/js/axios.min.js"></script>
<script src="/js/user_login_form.js" type="text/javascript"></script>