<a class="card-wrapper-horizontal card-wrapper" href="/blogs/<%= blog.id %>">
    <img src="<%= blog.img_url %>" alt="" class="blog-graphic"></img>
    <div class="blog-card-overlay"></div>
    <div class="blog-details-1">
        <p class="blog-title"><%= blog.title %></p>
    </div>
    <div class="blog-details-2">
        <p class="blog-excerpt"><%= blog.excerpt %></p>
        <div class="read-more"><img class="read-more-img" src="/img/popout.svg" alt=""></div>
    </div>
</a>