<link rel="stylesheet" href="/css/generic_error_popup.css">
<div class="errorpopupoverlay"></div>
<div class="errorpopupcontainer">
    <div class="errorpopupheader">
        <p class="errorpopupheadertext">Something went wrong</p>
        <p class="errorpopupcancel">&times;</p>
    </div>
    <div class="errorpopupcontent">
        <p class="errorpopuptext"></p>
        <div class="errorpopupactions">
            <button class="errorpopupcancel" id="errorpopupcancel-ok">Ok</button>
        </div>
    </div>
</div>