<link rel="stylesheet" href="/css/navbar.css">
<div class="popupoverlay"></div>
<div class="popupcontainer">
    <div class="popupheader">
        <p class="popoutheadertext">Logout Confirmation</p>
        <p class="popupcancel">&times;</p>
    </div>
    <div class="popupcontent">
        <p class="popuptext">Are you sure you want to logout?</p>
        <div class="popupactions">
            <button class="popupcancel" id="popupcancel-no">No</button>
            <a href="/destroyUserSession" class="destroyusersession">
                <button class="logoutconfirm">Yes</button>
            </a>
        </div>
    </div>
</div>

<div class="navbar-wrapper">
    <div class="left-container">
        <a href="/blogs">
            <span><i class="app-title">BLOG DEKHO</i></span>
        </a>
    </div>
    <div class="nav">
        <a class="common-nav-btn" id="goto-home" href="/blogs">Home</a>
        <a class="common-nav-btn" id="manual-create" href="/create_blog">Manual</a>
        <a class="common-nav-btn" id="auto-create" href="/automate">Auto</a>
        <a class="common-nav-btn" id="user-profile" href="/user_profile">My Profile</a>
        <a class="common-nav-btn" id="all-subscriptions" href="/all_subscriptions">Following</a>
        <a class="common-nav-btn" id="liked-blogs" href="/liked_blogs">Likes</a>
    </div>
    <div class="right-container userinfo-topbar">
        <div class="leftpart">
            <a href="/user_profile" class="pic">
                <img src=<%= responseJson.userinfo.profilepic %> alt="" class="profilepic">
            </a>
            <a href="/user_profile" class="nav-username">
                <p class="welcome-text">Welcome</p> 
                <p class="welcome-text"><%=responseJson.userinfo.username%></p>
            </a>
        </div>
        <img class="power" src="/assets/img/power.svg">
    </div>
</div>

<script src="/js/navbar.js" type="text/javascript"></script>