<link rel="stylesheet" href="/css/navbar.css">
<div class="popupoverlay"></div>
<div class="popupcontainer">
    <div class="popupheader">
        <p class="popoutheadertext">Logout Confirmation</p>
        <p class="popupcancel">&times;</p>
    </div>
    <div class="popupcontent">
        <p class="popuptext">Are you sure you want to logout?</p>
        <div class="popupactions">
            <button class="popupcancel" id="popupcancel-no">No</button>
            <button class="logoutconfirm destroyusersession">Yes</button>
        </div>
    </div>
</div>

<div class="navbar-wrapper">
    <div class="left-container">
        <a href="/blogs">
            <span><i class="app-title">BLOG DEKHO</i></span>
        </a>
    </div>
    <div class="nav">
        <a class="common-nav-btn" id="goto-home" href="/home">Home</a>
        <a class="common-nav-btn" id="manual-create" href="/compose">Manual</a>
        <a class="common-nav-btn" id="auto-create" href="/auto-compose">Auto</a>
        <a class="common-nav-btn" id="user-profile" href="/user-profile">My Profile</a>
        <a class="common-nav-btn" id="all-subscriptions" href="/user-subscriptions">Following</a>
        <a class="common-nav-btn" id="liked-blogs" href="/liked-blogs">Likes</a>
    </div>
    <div class="right-container userinfo-topbar">
        <div class="leftpart">
            <a href="/user-profile" class="pic">
                <img class="profilepic">
            </a>
            <a href="/user-profile" class="nav-username">
                <p class="welcome-text">Welcome</p> 
                <p class="welcome-text" id="welcome-username"></p>
            </a>
        </div>
        <img class="power" src="/assets/img/power.svg">
    </div>
</div>

<script src="/js/axios.min.js" type="text/javascript"></script>
<script src="/js/navbar.js" type="text/javascript"></script>